<div class="container">
  <div class="main">
    Authenticated: {{ authenticated$ | async }}
    <div *ngIf="authenticated$ | async">Internal message!</div>
    <p>
      Total MessageCount: {{ msgCount }}
    </p>
    <p>
      Total MessageCount: {{ (msgList$ | async)?.length }}
    </p>
    <p>
      Total MessageCount: {{ msgCount$ | async }}
    </p>
    <app-publisher></app-publisher>
    <app-subscriber></app-subscriber>
    <app-login></app-login>
    <h2>Message List</h2>
    <ul>
      <li *ngFor="let m of msgList$ | async">{{ m }}</li>
    </ul>
  </div>
  <div class="sidebar">
    <button (click)="listVisible = true">Show Messagelist</button>
    <app-message-list *ngIf="listVisible"></app-message-list>
  </div>
</div>
